* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
   padding: 20px 0px 50px 0px;
   height: 100vh;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.menu-heading {
  text-align: center;
  padding: 0px 0px 50px 0px;
  font-size: 175%;
  font-weight: 600;
}



#first,#second,#third {
  border: 1px solid black;
  padding: 0px 0px 8px 8px;
  position: relative;
  height: 250px;
  overflow: hidden;
  background: #bfbfbf;
}

#first-title {
  background: pink;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}

#second-title {
  color: white;
  background: red;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}

#third-title {
  background: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}

.text {
  position: relative;
  top: 60px;
  padding: 0 20px
}


@media (min-width: 992px){
  #container1,
  #container2,
  #container3 {
    padding: 0px 20px 20px 20px;
    width: 33%;
    float: left;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #container1,
  #container2 {
    width: 50%;
    float: left;
    padding: 0px 20px 20px 20px;
  }
  
  #container3 {
    width: 100%;
    padding: 0px 20px 20px 20px;
  }  
}

@media (max-width: 767px) {
  #container1,
  #container2,
  #container3 {
    width: 100%;
    padding: 0px 20px 20px 20px;
  }
}
