* {
  box-sizing: border-box;
  padding: 10px 0px 50px 0px;
  margin: 0;
}

@media screen and (min-width: 992px) {
  #container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .menu-heading {
    text-align: center;
    padding: 0px 0px 50px 0px;
    font-size: 175%;
    font-weight: 600;
  }


  .div-container {
      padding: 0px 20px 20px 20px;
      width: 33%;
      float: left;  
  }

  #first,#second,#third {
    border: 1px solid black;
    padding: 0px 0px 8px 8px;
    position: relative;
    height: 200px;
    background: #bfbfbf;
  }

#first-title {
  background: pink;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}
  
#second-title {
  color: white;
  background: red;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}

#third-title {
  background: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  width:100px;
  height: 40px;
  padding: 8px 0px 18px 0px;
  text-align: center;
  font-size: 125%;
  font-weight: 600;
  border: 1px solid black;
  border-top:0;
}

.text {
  position: relative;
  top: 60px;
  padding: 0 20px
 }
  
}



